.header{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  padding: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header::before {
content: '';
position: absolute;
background-image: url(img/photo1.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
opacity: 0.9;
}


.main-heading{
  font-size: 40px;
  font-weight: bold;
}
.header-text{
padding-top: 15px;
font-size: 20px;
text-align: center;
max-width: 950px;
margin-top: 20px;
}

.sub-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.button{
  display: inline-block;
  font-size: 18px;
  background-color: rgb(46, 45, 45);
  color: white;
  border: 1px solid  rgb(77, 76, 76);
  padding: 14px 18px;
  margin-top: 25px;
  text-decoration-line: none;
}
.button:hover{
  background-color: white;
  color: black;
}

.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:black;
  padding: 20px;
}

.box2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
}
 .card-container {
  padding: 20px;
 }
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 15px 10px;
  width: 300px;
  background-color: white;
  
}

img {
  display: block;
  width: 100%;
}


.info-text{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 950px;
}
.box4{
  display: flex;
  color: white;
}

.article1,
.article2 {
  padding: 40px 20px;
  text-align: center;
}
.article1{
  width: 50%;
  background-color: #2690d4;
}

.article2{
  width: 50%;
  background-color: #333;
}

.about1{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.about2{
  font-size: 20px;
  margin-top: 20px;
}

.about3{
  display: inline-block;
  font-size: 20px;
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.media{
  color: #2690d4;
}

