

#heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/photo1.png);
  height: 450px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.text1{
  font-size: 40px;
  font-weight: bold;
}
.text2{
padding-top: 15px;
font-size: 20px;
text-align: center;
}

.text3{
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

 .text4{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}


.button{
  font-size: 18px;
  background-color: rgb(46, 45, 45);
  color: white;
  border: 1px solid  rgb(77, 76, 76);
  padding: 14px 18px;
  margin-top: 10px;
  text-decoration-line: none;
}
.button:hover{
  padding: 14px;
  background-color: white;
  color: aliceblue;
  text-align: center;
}

.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:black;
  height: 150px;
}

.box2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 580px;
  background-color: rgb(42, 42, 42);
  
}

.section1,
.section2,
.section3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  height: 500px;
  width: 300px;
  background-color: white;
  
}

 .section1{
  position: relative;
  left: 130px;
 }

 .section3{
  position: relative;
  right: 130px;
 }

img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin-top: -10px;}

.box3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:black;
  height: 150px;
}

.lorem{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 30px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
